[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/bosch-ros-pkg/usb_cam.git
[submodule "src/stingray"]
	path = src/stingray
	url = https://github.com/hidronautics/stingray.git
	branch = fsm
