[submodule "src/stingray"]
	path = src/stingray
	url = git@github.com:hydronautics-team/stingray.git
[submodule "src/sauvc_navigation"]
	path = src/sauvc_navigation
	url = git@github.com:hydronautics-team/sauvc_navigation.git
