<launch>

    <!-- Enables cameras, recording and streaming -->
    <arg name="cameras_enabled" default="true" />
    <arg name="record" default="false" />
    <arg name="stream" default="false" />

    <!-- WEIGHTS -->
    <!-- Package name with your dnn weights -->
    <arg name="weights_pkg_name" default="sauvc_vision" />


    <include file="$(find stingray_startup)/launch/simulation.launch">
        <arg name="delay_after_init" value="0" />
        <arg name="weights_pkg_name" value="$(arg weights_pkg_name)" />
    </include>

</launch>
