<launch>

    <include file="$(find stingray_vision)/launch/object_detector.launch">
        <!-- Package name with dnn weights -->
        <arg name="dnn_weights_pkg" default="sauvc_vision" />
        <!-- Enables video streaming -->
        <arg name="stream" default="true" />
        <!-- Enables video recording -->
        <arg name="record" default="false" />
        <!-- True to enable camera-->
        <!-- False to enable videofile -->
        <arg name="cameras" default="false" />
        <!-- Providing video from file -->
        <arg name="videofile_path" default="/home/vladushked/Documents/hydro/dnn_gate_detector/run_detection_scripts/video/2.mp4" />
    </include>

</launch>