
<launch>

    <!-- Enables simulation mode -->
    <arg name="simulation" default="false" />

    <!-- Enables connection with hardware platform -->
    <arg name="hardware_connection" default="true" />

    <!-- Enables recording and streaming -->
    <arg name="record" default="false" />
    <arg name="stream" default="false" />

    <include file="$(find stingray_launch)/launch/stingray_common.launch">
        <arg name="simulation" default="$(arg simulation)" />
        <arg name="hardware_connection" default="$(arg hardware_connection)" />
        <arg name="missions_module" value="sauvc_missions.sauvc_missions_fsm" />
        <arg name="missions_class"  value="SauvcMissions" />
        <arg name="missions_enabled" value="true" />
    </include>

    <include file="$(find sauvc_vision)/launch/object_detector.launch">
        <arg name="device_front" default="/dev/v4l/by-path/platform-3530000.xhci-usb-0:1:1.0-video-index0" />
        <arg name="device_bottom" default="/dev/v4l/by-path/platform-3530000.xhci-usb-0:2:1.0-video-index0" />
        <arg name="record" default="$(arg record)" />
        <arg name="stream" default="$(arg stream)" />
    </include>

</launch>
